@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h3><a href="https://github.com/NCumplido">Github</a></h3>
    <h3><a href="https://www.linkedin.com/in/nicholas-c-a5a995182/">Linkedin</a></h3>


</div>

<!--
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
-->
