
@{
    ViewData["Title"] = "Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Work</h1>

<hr />

<div>
    
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="JavascriptPage"><h3> Javascript</h3></a>
    
</div>

<hr />
